<h1>Web List!</h1>
<a href="http://127.0.0.1:8000/cities/all">cities_all GET</a>
<a href="http://127.0.0.1:8000/cookies/del">cookies_del GET</a>
<a href="http://127.0.0.1:8000/cookies/get">cookies_get GET</a>
<a href="http://127.0.0.1:8000/cookies/set">cookies_set POST</a>
<a href="http://127.0.0.1:8000/">home GET</a>
<a href="http://127.0.0.1:8000/postTest">postTest POST</a>
<a href="http://127.0.0.1:8000/show_data">show_data GET,POST</a>
<a href="http://127.0.0.1:8000/weblist">weblist GET</a>
